/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Estilos para la barra lateral */
  .sidebar {
    height: 100%;
    width: 7%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .sidebar ul { /* lista desordenada (ul) que está dentro del elemento con la clase sideba*/
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0 0;
  }
  
  .sidebar li {
    padding: 10px;
  }
  
  .sidebar a {
    color: white;
    text-decoration: none;
    display: block;
  }
  
  /* Estilos para los iconos */
  .sidebar i {
    margin-right: 10%;
    margin-bottom: 30px;

  }
  
  /* Estilos para el contenido principal */
  .content {
    margin-left: 200px; /* Ancho de la barra lateral */
    padding: 20px;
  }
  