/* Estilos generales */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header, footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Estilos para la barra lateral */
.sidebar {
  height: 100%;
  width: 7%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar a {
  color: white;
  text-decoration: none;
  display: block;
}

.sidebar i {
  margin-right: 10%;
  margin-bottom: 30px;
}

/* Estilos para el contenido principal */
main {
  margin-left: 7%; /* Ancho de la barra lateral ajustado */
  padding: 20px;
}

/* Sección de información y edición del usuario */
section {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

/* Detalles del usuario */
.datos_usuario p {
  font-size: 16px;
  color: #333;
}

/* Estilos para el formulario */
form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"], input[type="email"] {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Botón para edición y guardar */
button {
  background-color: #169616; /* Verde */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #2e6d2e; /* Verde oscuro */
}
